@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.backgroundMap{
    background-image: url('./img/Datenvisualisierung_Wave_BG.png');
    background-color:#021841;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-header {
    margin-bottom: 100px;

}
.content-map {
    width: auto;
    height: 100%;
    margin-left: 70px;
    margin-right: 50px;

}
.switchbetweensites {
    position:relative;
    z-index: 100;
}
/**
Button über das Projekt
 */
.button{
    background-color: red; /* Green */
    border:none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

btnABout{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

/*btnABout:hover{*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*}*/

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited{
    border-color: #0AA7FF;
    background-color: #0AA7FF !important;
}

/*img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/
.logo_gross{
    margin-top: 0px;
}



#logo {
    margin-left:50px;
    padding: 10px;
    color: white;
    text-align: left;
    font-family: lato;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    position: fixed;
    line-height: 100%;
    width: 100%;
    text-decoration: none;
    transition: 0.2s;
}

#content-only-map {
    width: auto;
    height: 100%;
}
content-map {
    width: auto;
    height: 100%;
    margin-left: 70px;
    margin-right: 50px;

}

/*Intro*/
.AboutBtn {
    position: fixed;
    font-family: lato;
    color: white;
}

.switchbutton {
    position:fixed;
    height: 100%;
    width: 41px;
    background-color: rgba(10, 34, 255, 0.25);
    color: white;
    right: 0%;
    top: 0%;
}

#swB a:hover {
    background-color: rgba(10, 34, 255, 0.50);
    color: white;
    width: 55px;
    transition: width 0.25s;
}

.svgB {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.fontTitle {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
}

.fontText {
    font-family: "lato", sans-serif;
    color: white;
    margin-top: 20px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}


.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}

.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}

.country:hover {
    /*fill-opacity: 0.8;*/
    /*stroke: white;*/
    fill:#055BDC;
}

.fontProduct{
    font-family: "lato", sans-serif;
    color: white;
}


.product-label {
    font-size: 10px;

}

.btn {
    border-color: white;
}

.btn:hover{
    border-color: #0AA7FF;
    background-color: #0AA7FF;
}


.hrTool {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
    border-color: #0AA7FF;
}

.btnZoom{
    background-color: #121C78;
    color: white;
    margin-bottom: 0.5em;
}
#map-button {
    position: absolute;
    right: 0;
    margin-right: 55px;
    margin-top: 550px;
}
.btnProduct{
    padding: 0;
    border: none;
    background: none;
}
.backgroundLine{
    background: linear-gradient(90deg, #3DD9E3 -0.01%, #FF0BFF 100%);
}


div.tooltip {
    color: #ffffff;
    background-color: #101011;
    padding: .5em;
    width: 275px;
    height: 214px;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    text-align: left;
    opacity: 0.9;
    position: absolute;
    font-size: 12px;
    top: -5px;
    right: 105%;
    margin-left: 0px;

}

.hrToolTip{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    width: 10%;
    text-align:left;
    color:#0AA7FF

}
.hrProduct{
    margin-top: 0px;
    background-color:#055BDC;
}

/** Switch Button*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch.coffe{
    margin-left: 45px;
}
.switch.rice{
    margin-left: 60px;
}
.switch.coton{
    margin-left: 10px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 2px solid #0AA7FF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.checkbox-menu{
    background-color:#0AA7FF;
}
.slider.coffe{
    background-color: white;
}
.slider.rice{
    background-color: white;
}
.slider.coton{
    background-color: white;
}
.slider.coffe:before {
    background-color: #FFAC27;
}
.slider.rice:before {
    background-color: #C73737;

}
.slider.coton:before {
    background-color: #FF2EFF;

}

input:checked + .slider {
    background-color: #0AA7FF;
}
input:checked + .slider.coffe {
    background-color: white;
}
input:checked + .slider.rice {
    background-color: white;
}
input:checked + .slider.coton {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0AA7FF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Info Buttom Tooltip */
.infoBtn{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.infoBtn .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #0AA7FF;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.infoBtn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

.infoBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

